.header .logo-image {
    width: 1200px;
    min-width: 1200px;
    margin: 30px auto 15px auto;
    overflow: hidden;
}

.header .logo-image .logo {
    width: 70px;
    height: 70px;
}

.header .logo-image .logo-txt {
    position: relative;
    top: -12px;
    left: 15px;
}

.header .logo-image .el-right {
    position: relative;
    top: 24px;
}

.header .logo-image .weixin-icon {
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 3px;
    border: 1px solid #a40000;
    background-image: url(https://jiaotou195.github.io/ppqg.github.io/weixin.png);
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    cursor: pointer;
}

.header .logo-image .phone-icon {
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 3px;
    border: 1px solid #a40000;
    background-image: url(https://jiaotou195.github.io/ppqg.github.io/phone.png);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    cursor: pointer;
}

.header .menu-nav {
    background: #a40000;
}

.header .menu-nav>div {
    width: 1200px;
    min-width: 1200px;
    margin: auto;
    height: 52px;
    line-height: 52px;
}

.header .menu-nav a {
    display: block;
    float: left;
    margin-right: 37px;
    padding: 0 10px;
    font-size: 21px;
    color: #fff;
    text-align: center;
}

#index a:hover {
    color: #a61111 !important;
}

.header .menu-nav a:hover {
    color: #fff !important;
    background-color: #CB1414;
}

.header .menu-nav a:last-child {
    margin-right: 0;
    padding-right: 0;
}

.el-left {
    float: left;
}

.el-right {
    float: right;
}

.el-main {
    width: 1200px;
    min-width: 1200px;
    margin: auto;
}

.paddinbtm30 {
    padding-bottom: 50px;
}

.el-main .sfgc img {
    margin: 22px auto;
    width: 100%;
}

.el-main .index_block1 {
    overflow: hidden;
}

.el-main .index_block1 .swiper-container {
    width: 670px;
    height: 300px;
}

.el-main .index_block1 .swiper-container .swiper-slide div {
    position: relative;
    overflow: hidden;
}

.el-main .index_block1 .swiper-container .swiper-slide div img {
    width: 670px;
    height: 300px;
    display: block;
    transition: all 1s;
}
.el-main .index_block1 .swiper-container .swiper-slide div img:hover {
    transform: scale(1.1);
}

.el-main .index_block1 .swiper-container .swiper-button-next {
    background-size: 35%;
    background-image: url(../images/index-arrow-right.png);
    background-repeat: no-repeat;
    top: 95%;
    right: 10px;
    outline: none;
}

.el-main .index_block1 .swiper-container .swiper-button-prev {
    background-size: 35%;
    background-image: url(https://jiaotou195.github.io/ppqg.github.io/index-arrow-left.png);
    background-repeat: no-repeat;
    top: 95%;
    left: 10px;
    outline: none;
}

.el-main .index_block1 .swiper-container .swiper-slide p {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0 20%;
    width: 60%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.6);
}

.text-overflow {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.el-main .index_block1 .swiper-container .swiper-pagination-fraction {
    left: 40px;
    bottom: 0;
    width: 60px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #fff;
}

.el-main .index_block1 .swiper-container .swiper-pagination-fraction .swiper-pagination-current {
    color: #e60012;
}

.el-main .index_block1 .el-right {
    width: 480px;
}

.el-main .index_block1 .el-right ul li {
    position: relative;
    line-height: 32px;
    padding-left: 15px;
}

.el-main .index_block1 .el-right ul li::after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -4px;
    left: 0px;
    width: 8px;
    height: 8px;
    background-image: url(https://jiaotou195.github.io/ppqg.github.io/dis.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.el-main .index_block1 .el-right ul li a {
    color: #333;
    font-size: 16px;
    display: block;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.el-main .index_block2 {
    margin: 30px auto;
    overflow: hidden;
}

.el-main .index_block2>div.el-left {
    width: 380px;
    border: 1px solid #ddd;
    font-size: 16px;
}

.el-main .index_block2 .el-left .el-form input[type=radio] {
    opacity: 0;
}

.el-main .index_block2 .el-left .el-form label {
    font-size: 16px;
    cursor: pointer;
}

.el-main .index_block2 .el-left .el-form label::before {
    content: '';
    position: relative;
    top: 2px;
    margin-right: 5px;
    display: inline-block;
    width: 14px;
    height: 14px;
    background-image: url(https://jiaotou195.github.io/ppqg.github.io/circle.png);
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}

.el-main .index_block2 .el-left .el-form input[type=radio]:checked+label::before {
    background-image: url(https://jiaotou195.github.io/ppqg.github.io/circle-b.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.el-main .index_block2 .el-left .big {
    width: 100%;
}

.el-main .index_block2 .el-left .el-form .txt-input {
    position: relative;
    width: 90%;
    margin: 12px auto;
    border: 1px solid #ddd;
    border-radius: 14px;
}

.el-main .index_block2 .el-left .el-form .txt-input .search {
    position: absolute;
    right: 12px;
    top: 2px;
    cursor: pointer;
}

.el-main .index_block2 .el-left .el-form .txt-input input {
    padding: 0 10%;
    width: 80%;
    outline: none;
    border: none;
    height: 25px;
    line-height: 25px;
    background: transparent;
}

.el-main .index_block2 .el-left .option {
    margin-bottom: 15px;
}

.el-main .index_block2 .el-left .option a {
    display: inline-block;
    width: 49%;
    text-align: center;
    color: #333;
}

.el-main .index_block2 .el-left .option a img {
    width: 26px;
    height: 26px;
    margin-right: 8px;
    vertical-align: bottom;
}

.el-main .index_block2 .el-right .gcjj {
    font-size: 16px;
    margin-bottom: 40px;
    overflow: hidden;
}

.el-main .index_block2 .el-right .zbdw {
    font-size: 18px;
    color: #e60012;
}

.el-main .index_block2 .el-right .zbdw>.el-left {
    width: 50%;
    border-right: 1px solid #ddd;
}

.el-main .index_block2 .el-right .zbdw>div {
    overflow: hidden;
}

.el-main .index_block2 .el-right .zbdw>div img {
    display: block;
    margin-bottom: 15px;
}

.el-main .index_block2 .el-right .gcjj .el-left {
    width: 430px;
}

.el-main .index_block2 .el-right .gcjj .el-left p {
    line-height: 32px;
    text-indent: 2rem;
    padding: 0 20px 5px 0;
}

.el-main .index_block3>ul {
    display: block;
    width: 386px;
    position: relative;
    top: 1px;
    display: box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    border: 1px solid #e60012;
}

.el-main .index_block3>ul li {
    font-size: 22px;
    padding: 10px;
    color: #e60012;
    font-weight: bold;
    cursor: pointer;
}

.el-main .index_block3>ul li.active {
    color: #fff;
    background-color: #e60012;
}

.el-main .index_block3 .ul-list-box {
    padding: 20px 12px;
    border: 1px solid #ddd;
    overflow: hidden;
}

.el-main .index_block3 .ul-list-box>div {
    display: none;
}

.el-main .index_block3 .ul-list-box #sfjd {
    display: block;
}

.el-main .index_block3 .ul-list-box ul li {
    float: left;
    padding: 14px 11px;
}

.el-main .index_block3 .ul-list-box ul li img {
    width: 170px;
    height: 95px;
}

.el-main .index_block4 img {
    width: 100%;
    margin: 30px auto;
}

.index_block5 {
    overflow: hidden
}

.index_block5>div {
    width: 370px;
    font-size: 16px;
    margin-right: 45px;
    float: left;
}

.index_block5>div:last-child {
    margin-right: 0px;
}

.index_block5>div .img-box {
    position: relative;
    margin-bottom: 15px;
    overflow: hidden;
}

.index_block5>div .img-box img {
    display: block;
    width: 100%;
    height: 220px;
    transition: all 1s;
}
.index_block5>div .img-box img:hover {
    transform: scale(1.1);
}

.index_block5>div .img-box p {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    height: 40px;
    line-height: 40px;
    background-color: rgba(0, 0, 0, 0.6);
}

.index_block5>div ul li {
    position: relative;
    line-height: 32px;
    padding-left: 18px;
}

.index_block5>div ul li::after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -4px;
    left: 0px;
    width: 8px;
    height: 8px;
    background-image: url(https://jiaotou195.github.io/ppqg.github.io/dis.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.index_block5>div ul li a {
    display: block;
    width: 100%;
    color: #333;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.index_block5_2 {
    margin: 30px auto;
}

.index_block5_2 li {
    float: left;
    position: relative;
    list-style:none;
    margin-right: 9px;
}

.index_block6 img {
    width: 100%;
    margin: 30px auto;
}

.index_block7 {
    overflow: hidden
}

.index_block7>div {
    width: 370px;
    font-size: 16px;
    margin-right: 45px;
    float: left;
}

.index_block7 .img-block img {
    width: 100%;
}

.index_block7 .img-block a:first-child img {
    margin-bottom: 30px;
}

.index_block7 .img-block a:last-child img {
    width: 370px;
    height: 263px;
}

.index_block7>div:last-child {
    margin-right: 0px;
}

.index_block7>div .img-box {
    position: relative;
    margin-bottom: 15px;
    overflow: hidden;
}

.index_block7>div .img-box img {
    width: 100%;
    height: 220px;
    transition: all 1s;
}

.index_block7>div .img-box img:hover{
    transform: scale(1.1);
}

.index_block7>div .img-box p {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    height: 40px;
    line-height: 40px;
    background-color: rgba(0, 0, 0, 0.6);
}

.index_block7>div ul li {
    position: relative;
    line-height: 32px;
    padding-left: 18px;
}

.index_block7>div ul li::after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -4px;
    left: 0px;
    width: 8px;
    height: 8px;
    background-image: url(https://jiaotou195.github.io/ppqg.github.io/dis.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.index_block7>div ul li a {
    display: block;
    width: 100%;
    color: #333;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.index_block8 {
    margin: 30px auto;
}

.index_block8 .img-box-list {
    overflow: hidden;
}

.index_block8 .img-box-list>div {
    width: 390px;
    font-size: 16px;
    margin-right: 15px;
    float: left;
}

.index_block8 .img-box-list>div:last-child {
    margin-right: 0px;
}

.index_block8 .img-box-list>div.img-box {
    position: relative;
    margin-bottom: 15px;
}

.index_block8 .img-box-list>div.img-box img {
    display: block;
    width: 100%;
    height: 220px;
}

.index_block8 .img-box-list>div.img-box p {
    position: absolute;
    left: 0;
    bottom: 0;
    padding-left: 15%;
    padding-right: 5%;
    width: 80%;
    text-align: center;
    color: #fff;
    height: 40px;
    line-height: 40px;
    background-color: rgba(0, 0, 0, 0.6);
}

.index_block8 .img-box-list>div.img-box p::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 20px;
    width: 30px;
    height: 30px;
    background-image: url(https://jiaotou195.github.io/ppqg.github.io/player.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.index_block9 {
    margin-bottom: 50px;
}

.index_block9 .img-box {
    position: relative;
    font-size: 16px;
    overflow: hidden;
}

.index_block9 .swiper-container {
    padding-bottom: 25px;
}

.index_block9 .swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 0px;
}

.index_block9 .swiper-pagination-bullet-active {
    background: #e60012;
}

.index_block9 .el-right {
    width: 740px;
    display: -webkit-box;
    /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
    display: -moz-box;
    /* Firefox 17- */
    display: -webkit-flex;
    /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
    display: -moz-flex;
    /* Firefox 18+ */
    display: -ms-flexbox;
    /* IE 10 */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.index_block9 .el-right .img-box {
    width: 359px;
    height: 177px;
    overflow: hidden;
}

.index_block9 .el-right .img-box:first-child {
    margin-bottom: 12px;
}

.index_block9 .swiper-slide .el-left .img-box img {
    width: 435px;
    height: 365px;
    display: block;
    transition: all 1s;
}
.index_block9 .swiper-slide .el-left .img-box img:hover {
    transform: scale(1.1);
}

.index_block9 .swiper-slide .el-right .img-box img {
    width: 100%;
    height: 177px;
    display: block;
    transition: all 1s;
}
.index_block9 .swiper-slide .el-right .img-box img:hover {
    transform: scale(1.1);
}

.index_block9 .img-box p {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    height: 40px;
    line-height: 40px;
    background-color: rgba(0, 0, 0, 0.6);
}

.el-main .index_block9 .swiper-container .swiper-button-next {
    background-size: 100%;
    background-image: url(https://jiaotou195.github.io/ppqg.github.io/index2-arrow-left.png);
    background-repeat: no-repeat;
    outline: none;
    width: 42px;
    height: 75px;
    margin-top: -45px;
}

.el-main .index_block9 .swiper-container .swiper-button-prev {
    background-size: 100%;
    background-image: url(../images/index2-arrow-right.png);
    background-repeat: no-repeat;
    outline: none;
    width: 42px;
    height: 75px;
    margin-top: -45px;
}
.index_block10{
    margin: 40px auto;
}
.index_block10 .slicInside {
    margin-top: 25px;
    width: 1200px;
    height: 340px;
}
.index_block10 .slicInside ul li{
    float: left;
    width: 292px;
    position: relative;
    margin-right: 8px;
    z-index: 1;
}
.index_block10 .slicInside ul li.last {
    margin-right: 0px;
}
.index_block10 .slicInside ul li .common{
    position: relative;
    z-index: 1;
}

.index_block10 .slicInside ul li p {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    height: 40px;
    line-height: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
}

.index_block10 .slicInside ul li .img{background:#e6e6e6;}
.index_block10 .slicInside ul li .img a{ display:block;}
.index_block10 .slicInside ul li .img img{width: 292px;height: 365px;display: block;}
.index_block10 .slicInside ul li .text{height: 50px;line-height: 50px;background: #efefef;width:272px;font-size: 16px;color: #333333;padding:0 10px;}
.index_block10 .slicInside ul li .text a{color: #333333;}
.index_block10 .slicInside ul li .hover{width: 330px;position: absolute;left:-19px;top:-10px;z-index: 333;display: none; overflow:hidden;box-shadow:0px 2px 3px 1px rgba(0, 0, 0, 0.2);}
.index_block10 .slicInside ul li .hover .img{width: 331px;height: 186px;background:#e6e6e6;}
.index_block10 .slicInside ul li .hover .img a{display:block;width: 330px;height: 186px;}
.index_block10 .slicInside ul li .hover .img img{width:330px;height: 186px;}
.index_block10 .slicInside ul li .hover .img video{width:334px;height: 187px; display:block;}
.index_block10 .slicInside ul li .hover .text-hover{padding:0 10px;background: #FFFFFF;}
.index_block10 .slicInside ul li .hover .text-hover h3{font-weight:bold;font-style: normal;font-size:18px;height:53px;line-height:53px; padding-top:3px;}
.index_block10 .slicInside ul li .hover .text-hover h3 a{color: #333333;}
.index_block10 .slicInside ul li .hover .text-hover h3 a:hover{ color:#e60012;;}
.index_block10 .slicInside ul li .hover .text-hover span{font-style: normal;font-size:14px;color: #666666;line-height:26px;height:108px;border-bottom:1px solid #eaeaea;display:block; padding-bottom:20px;}
.index_block10 .slicInside ul li .hover .text-hover span a{color: #666666;}
.index_block10 .slicInside ul li .hover .text-hover span a:hover{color: #666666;}
.index_block10 .slicInside ul li .hover .text-hover .label{padding:19px 0;font-size:0px; overflow:hidden;}
.index_block10 .slicInside ul li .hover .text-hover .label a{font-size:14px;color:#e60012;margin:0 5px;padding:0 8px; line-height:20px; display:inline-block;height:20px;border:1px solid #e60012; border-radius:3px;}
#index .index_block10 .slicInside ul li .hover .text-hover .label a:hover{background-color:#e60012;color:#FFF !important;}
.index_block10 .slicInside ul li:hover{
    z-index: 2;
}
.index_block10 .slicInside ul li:hover .hover{
    display: block;
}
.index_block11{
    margin: 30px auto;
}

.index_block11 .img-box-list {
    overflow: hidden;
}

.index_block11 .img-box-list>div {
    width: 390px;
    font-size: 16px;
    margin-right: 15px;
    float: left;
    overflow: hidden;
}

.index_block11 .img-box-list>div:last-child {
    margin-right: 0px;
}
.index_block11 .img-box-list>div.img-box {
    position: relative;
    margin-bottom: 15px;
}

.index_block11 .img-box-list>div.img-box img {
    display: block;
    width: 100%;
    height: 220px;
    cursor: pointer;
    transition: all 1s;
}
.index_block11 .img-box-list>div.img-box img:hover{
    transform: scale(1.1);
}
.index_block11 .img-box-list>div.img-box p {
    position: absolute;
    left: 0;
    bottom: 0;
    padding-left: 15%;
    padding-right: 5%;
    width: 80%;
    text-align: center;
    color: #fff;
    height: 40px;
    line-height: 40px;
    background-color: rgba(0, 0, 0, 0.6);
}

.index_block11 .img-box-list>div.img-box:after {
    content: '';
    position: absolute;
    top: 40%;
    left: 48%;
    margin-left: -20px;
    margin-top: -20px;
    width: 60px;
    height: 60px;
    background-image: url(https://jiaotou195.github.io/ppqg.github.io/player1.png);
    background-repeat: no-repeat;
    background-size: 100%;
}


.search-bg {
    text-align: center;
    background-image: url(https://jiaotou195.github.io/ppqg.github.iosearchBd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.search-bg .search-log {
    margin: auto;
    padding-bottom: 30px;
}

.search-dailog-box {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 1200px;
    height: 650px;
    min-width: 1200px;
}

.search-bg .search-dailog {
    height: 300px;
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
}

.search-bg .search-dailog>div {
    padding: 80px 80px 0 80px;
    font-size: 20px;
}

.search-bg .search-dailog>div input[type="radio"] {
    opacity: 0;
}

.search-bg .search-dailog>div label {
    display: inline-block;
    cursor: pointer;
}

.search-bg .search-dailog>div label::before {
    content: '';
    position: relative;
    top: 2px;
    margin-right: 5px;
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: bottom;
    background-image: url(https://jiaotou195.github.io/ppqg.github.io/search-select.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.search-bg .search-dailog>div input[type=radio]:checked+label::before {
    background-image: url(https://jiaotou195.github.io/ppqg.github.io/search-selected.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.search-bg .search-dailog .search-radio {
    text-align: left;
    margin-left: -22px;
}

.search-bg .search-dailog .search-box {
    margin-top: 35px;
    width: 1000px;
    min-width: 1000px;
    height: 60px;
    line-height: 60px;
    border: 1px solid #e60012;
    box-sizing: border-box;
    overflow: hidden;
}

.search-bg .search-dailog .search-box input {
    float: left;
    outline: none;
    height: 58px;
    width: 865px;
    border: none;
    padding-left: 10px;
    background-color: transparent;
}

.search-bg .search-dailog .search-box span {
    float: left;
    width: 123px;
    height: 58px;
    line-height: 58px;
    color: #fff;
    cursor: pointer;
    background-color: #e60012;
}

.find-bg {
    background-image: url(https://jiaotou195.github.io/ppqg.github.io/find-bg1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.find-bg .find-dailog {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 465px;
    height: 575px;
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
}

.find-bg .find-dailog>div {
    font-size: 22px;
    margin: 45px;
}

.find-bg .find-dailog>div .find-user {
    margin: 35px auto 20px auto;
}

.find-bg .find-dailog>div p {
    line-height: 58px;
    width: 210px;
    text-align: left;
    margin: auto;
}

.current {
    padding-left: 5px;
    font-size: 13px;
    color: #a2a9b2;
    text-align: left;
    height: 35px;
    line-height: 35px;
    background-color: #f8f8f8;
}

.dzzs ul li {
    padding: 35px 0;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}

.dzzs ul li:last-child {
    border: none;
}

.dzzs ul li .el-left {
    margin-left: 60px;
}

.dzzs ul li .el-left .img-box {
    width: 380px;
    height: 170px;
    text-align: center;
    border: 1px solid #ddd;
}

.dzzs ul li .el-left .img-box img {
    margin-top: 37px;
    width: 305px;
    height: 105px;
}

.dzzs ul li .el-right {
    width: 690px;
}

.dzzs ul li .el-right p {
    font-size: 16px;
    line-height: 30px;
}

.dzzs ul li .el-right a {
    float: right;
    margin-right: 60px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    padding: 5px 12px;
    box-shadow: 0 4px 0 #c6c3c2;
    border-radius: 8px;
    background-color: #e60012;
}

.dzzs ul li .el-right a:hover {
    color: #fff !important;
}

.red-color {
    color: #e60012;
}

.margin15 {
    margin: 15px auto;
}

.title {
    margin-bottom: 14px;
    font-weight: bold;
    font-size: 22px;
    border-bottom: 1px solid #ddd;
}

.title span {
    position: relative;
    top: -3px;
    color: #e60012;
    padding: 3px 12px 3px 4px;
    border-bottom: 1px solid #e60012;
}

.title span.ts {
    background-color: #e60012;
    color: #fff;
    padding: 3px 12px;
}

.title .more {
    display: inline-block;
    font-weight: normal;
    width: 60px;
    height: 20px;
    font-size: 16px;
    font-style: normal;
    color: #999;
    float: right;
    position: relative;
    top: 4px;
    cursor: pointer;
    background-image: url(https://jiaotou195.github.io/ppqg.github.io/more.png);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 35%;
}

.zs-header {
    height: 110px;
    background-color: #a40000;
}

.zs-header>div {
    margin: auto;
    width: 1200px;
    min-width: 1200px;
    overflow: hidden
}

.zs-header .logo {
    width: 435px;
    height: 79px;
}

.margintop15 {
    margin-top: 15px;
}

.margintop22 {
    margin-top: 22px;
}

.zs-header>div .el-left {
    margin-top: 22px;
}

.zs-header>div .el-right {
    margin-top: 36px;
}

.zs-header>div .search-box {
    position: relative;
    width: 560px;
    height: 38px;
    line-height: 38px;
    border-radius: 19px;
    border: 1px solid #fff;
}

.zs-header>div .search-box .search {
    position: absolute;
    top: 4px;
    right: 18px;
    cursor: pointer;
}

.zs-header>div input {
    display: block;
    padding: 0 8%;
    width: 84%;
    font-size: 17px;
    border: none;
    outline: none;
    color: #fff;
    height: 38px;
    line-height: 38px;
    padding-left: 5%;
    background-color: transparent;
}

.zs-header>div input::placeholder {
    color: #fff !important;
}

.zs-main {
    /*padding-bottom: 80px;*/
    background-color: #f9f8ef;
}

.zs-main .gg-fixed {
    position: fixed;
    top: 240px;
    right: 50%;
    margin-right: -630px;
    width: 145px;
    height: 275px;
    background-image: url(https://jiaotou195.github.io/ppqg.github.io/zmel.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.zs-main .gg-fixed a {
    position: absolute;
    left: 20px;
    bottom: 20px;
    font-size: 20px;
    color: #fff;
    box-shadow: 0 5px 5px #5d0000;
    font-weight: bold;
    padding: 4px 12px;
    border-radius: 10px;
    background-color: #e60012;
}

.zs-main>div.container {
    width: 940px;
    min-width: 940px;
    margin: auto;
    padding: 60px;
    box-sizing: border-box;
    background-image: url(https://jiaotou195.github.io/ppqg.github.io/dzzs-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.zs-main .dzzs-title {
    text-align: center;
}

.zs-main .dzzs-title h1 {
    display: inline-block;
    font-size: 29px;
    font-weight: bold;
    padding-bottom: 5px;
    color: #e60012;
    width: 180px;
    margin: 20px auto 40px auto;
    text-align: center;
    border-bottom: 1px solid #e60012;
}

.zs-main .container .info {
    padding-bottom: 20px;
}

.zs-main .container .info .cydw {
    text-align: center;
    font-size: 63px;
    color: #e60012;
    font-weight: bold;
    margin: 50px auto 30px auto;
}

.zs-main .container .info .cydw img {
    margin: auto 10px;
    vertical-align: baseline;
}

.zs-main .container .info .gsmc {
    text-align: center;
    font-size: 30px;
    display: inline-block;
}

.zs-main .container .info .gsmc span {
    float: left;
}

.zs-main .container .info .gsmc .dzzs-dz {
    position: relative;
    font-size: 19px;
    color: #fff;
    border-radius: 10px;
    padding: 7px 12px;
    cursor: pointer;
    background: #e60012;
    padding-right: 35px;
    box-shadow: 0 4px 0 #c6c3c2;
    margin-left: 10px;
}

.zs-main .container .info .gsmc .dzzs-dz::after {
    position: absolute;
    top: 4px;
    right: 5px;
    content: "";
    width: 28px;
    height: 28px;
    background-image: url(https://jiaotou195.github.io/ppqg.github.io/dianzan.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.zs-main .container .info-box {
    margin-top: 22px;
    padding: 12px 25px;
    font-size: 18px;
    line-height: 36px;
    border-radius: 6px;
    border: 1px solid #e60012;
    background-color: #fff;
}

.zs-main .container .info-box>div {
    position: relative;
}

.zs-main .container .info-box .margintiop {
    margin-top: 22px;
}

.zs-main .container .info-box h3 {
    font-size: 20px;
    color: #e60012;
    font-weight: bold;
}

.zs-main .container .info-box h3.balck {
    color: #333;
}

.zs-main .container .info-box .info-yz ul {
    padding-left: 24px;
    overflow: hidden;
}

.zs-main .container .info-box .info-yz ul li {
    float: left;
    list-style-type: disc;
    color: #e60012;
    width: 134px;
    margin-right: 50px;
    background-image: url(https://jiaotou195.github.io/ppqg.github.io/right.png);
    background-position: right center;
    background-repeat: no-repeat;
}

.zs-main .container .info-box .info-yz ul li span {
    color: #333;
}

.zs-main .container .info-box .code {
    position: absolute;
    right: 58px;
    top: 18px;
}

.zs-main .container .info-box .item-label {
    line-height: 32px;
    font-size: 18px;
}

.zs-main .container .info-box .item-label label {
    display: inline-block;
    vertical-align: top;
}

.zs-main .container .info-box .item-label span {
    display: inline-block;
    width: 615px;
}

.zs-main .container .info-zbdw {
    position: relative;
    padding: 60px 25px;
    font-size: 15px;
    line-height: 32px;
}

.zs-main .container .info-zbdw p {
    color: #5144ae;
}

.zs-main .container .info-zbdw .el-right .jdjg label {
    vertical-align: top;
}

.zs-main .container .info-zbdw .el-right .jdjg div {
    display: inline-block;
}

.zs-main .container .info-zbdw .el-right img {
    vertical-align: middle;
}

.zs-main .container .info-zbdw .dzzs-yz {
    position: absolute;
    right: 90px;
    bottom: -40px;
    width: 130px;
    height: 130px;
}

.el-main .ts-container {
    margin-bottom: 25px;
    padding: 35px;
    background-color: #fff;
}

.el-main .ts-container .ts-from {
    width: 820px;
    font-size: 16px;
    margin: 30px auto;
}

.el-main .ts-container .ts-from .ts-from-item {
    display: inline-block;
    margin: 12px auto;
}

.el-main .ts-container .ts-from .ts-from-item.form-submit {
    display: block;
    text-align: center;
}

.el-main .ts-container .ts-from .ts-from-item.form-submit button {
    display: inline-block;
    margin: 20px 10px;
    width: 128px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    outline: none;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.el-main .ts-container .ts-from .ts-from-item.form-submit button.submit {
    background-color: #e60012
}

.el-main .ts-container .ts-from .ts-from-item.form-submit button.reset {
    background-color: #ddd;
}

.el-main .ts-container .ts-from .ts-label {
    display: inline-block;
    width: 170px;
    text-align: right;
    vertical-align: middle;
}

.el-main .ts-container .ts-from .ts-label.text-top {
    vertical-align: top;
}

.el-main .ts-container .ts-from .ts-label .form-icon {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 5px;
    vertical-align: text-bottom;
}

.el-main .ts-container .ts-from .ts-label .form-icon.icon-jubao {
    background-image: url(../images/jubao.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.el-main .ts-container .ts-from .ts-label .form-icon.icon-miaosu {
    background-image: url(https://jiaotou195.github.io/ppqg.github.io/miaosu.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.bold {
    font-weight: bold;
}

.el-main .ts-container .ts-from .ts-input {
    display: inline-block;
    vertical-align: middle;
}

.el-main .ts-container .ts-from .ts-from-item i {
    color: #e60012;
    padding: 0 5px;
}

.el-main .ts-container .ts-from .ts-from-item .tips {
    vertical-align: middle;
}

.el-main .ts-container .ts-from .ts-from-item .tips-zf {
    display: block;
    color: #999;
    font-size: 13px;
}

.text-right {
    text-align: right
}

.el-main .ts-container .ts-from .ts-input input {
    width: 365px;
    height: 35px;
    line-height: 35px;
    padding-left: 5px;
    outline: none;
}

.el-main .ts-container .ts-from .ts-input input.code {
    width: 120px;
}

.el-main .ts-container .ts-from .ts-input .yz-code {
    width: 95px;
    height: 35px;
    margin: auto 5px;
    vertical-align: middle;
}

.el-main .ts-container .ts-from .ts-input textarea {
    width: 630px;
    height: 92px;
    padding: 5px;
    border-color: #ddd;
    outline: none;
    resize: none;
}

.el-main .ts-container .ts-from .ts-input .file {
    width: 85px;
    height: 25px;
    line-height: 25px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 2px;
    overflow: hidden;
    text-align: center;
    font-size: 15px;
    display: inline-block;
}

.el-main .ts-container .ts-from .ts-input .preview-box {
    display: none;
    margin: 8px auto;
}

.el-main .ts-container .ts-from .ts-input .file input[type="file"] {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    filter: alpha(opacity=0);
    cursor: pointer
}

.el-main .ts-container .ts-from .ts-checkbox {
    padding-left: 175px;
}

.el-main .ts-container .ts-from .ts-checkbox label {
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
    margin-right: 50px;
    cursor: pointer;
}

.el-main .ts-container .ts-from .item-error {
    display: inline-block;
    color: #e60012;
    vertical-align: middle;
}

.sy-time {
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    color: #bfbfbf;
}

.el-main.on-apply .left-main {
    width: 910px;
}

.el-main.on-apply .left-main .tsjb {
    margin: 30px auto;
    font-size: 16px;
    line-height: 28px;
}

.el-main.on-apply .left-main .tsjb p {
    text-indent: 2em;
}

.el-main.on-apply .left-main .apply-form {
    margin: 30px auto;
    padding: 25px;
    font-size: 16px;
    border: 1px solid #ddd;
}

.el-main.on-apply .left-main .apply-form .apply-from-item {
    margin: 12px auto;
}

.el-main.on-apply .left-main .apply-form label {
    display: inline-block;
    width: 100px;
    text-align: right;
    vertical-align: middle;
}

.el-main.on-apply .left-main .apply-form .ts-input {
    display: inline-block;
    vertical-align: middle;
}

.el-main.on-apply .left-main .apply-form .ts-input i {
    color: #e60012;
    padding: 0 5px;
}

.el-main.on-apply .left-main .apply-form .ts-input input {
    width: 265px;
    height: 35px;
    line-height: 35px;
    padding-left: 5px;
    outline: none;
}

.el-main.on-apply .left-main .apply-form .ts-input input.q-code {
    width: 60px;
}

.el-main.on-apply .left-main .apply-form .ts-input input.q-phone {
    width: 110px;
}

.el-main.on-apply .left-main .apply-form button {
    display: block;
    margin: 10px auto;
    width: 128px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    outline: none;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #e60012
}

.el-main.on-apply .left-main .alzs ul {
    overflow: hidden;
}

.el-main.on-apply .left-main .alzs ul li {
    float: left;
    padding: 14px 6px;
}

.el-main.on-apply .left-main .alzs ul li img {
    width: 170px;
    height: 95px;
}

.el-main.on-apply .left-main .apply-form .item-error {
    color: #e60012;
    text-align: center;
}

.el-main.on-apply .right-nav {
    width: 260px;
}

.el-main.on-apply .right-nav .h2 {
    font-size: 22px;
    font-weight: bold;
    color: #e60012;
}

.el-main.on-apply .right-nav .nav-item .img-box {
    position: relative;
    display: block;
}

.el-main.on-apply .right-nav .nav-item .img-box::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45px;
    height: 45px;
    margin-top: -25px;
    margin-left: -25px;
    background-image: url(../images/player1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.el-main.on-apply .right-nav .nav-item img {
    width: 260px;
    height: 150px;
}

.el-main.on-apply .right-nav .nav-item {
    margin: 10px auto 20px auto;
}

.el-main.on-apply .right-nav .nav-item p {
    font-size: 16px;
    line-height: 32px;
}

.el-main.organ .el-left {
    width: 280px;
}

.el-main.organ .el-left ul li {
    width: 280px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    background-color: #e60012;
    border-radius: 4px;
    margin-bottom: 2px;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
}

.el-main.organ .el-right {
    width: 900px;
    border: 1px solid #ddd;
    padding: 10px 3px;
    margin-bottom: 60px;
}

.el-main.organ .el-right .h3 {
    font-size: 18px;
    padding-left: 8px;
    color: #e60012;
    line-height: 32px;
    border-bottom: 1px solid #e60012;
}

.el-main.organ .el-right .orgin-title {
    font-size: 20px;
    padding-bottom: 6px;
    margin:45px auto 10px auto;
    color: #e60012;
    line-height: 32px;
    font-weight: bold;
    border-bottom: 1px solid #e60012;
}
.el-main.organ .el-right .orgin-title.margin10{
    margin-top: 10px;
}
.el-main.organ .el-right .orgin-title .orgin-icon{
    display: inline-block;
    width: 38px;
    height: 38px;
    margin-right: 5px;
    padding-bottom: 6px;
    vertical-align: middle;
}
.el-main.organ .el-right .orgin-p{
    font-size: 16px;
    text-indent: 2em;
    line-height: 28px;
    padding: 10px 0;
}
.el-main.organ .el-right .orgin-box {
    display: inline-block;
    width: 100%;
    margin-top: 40px;
    overflow: hidden;
}
.el-main.organ .el-right .orgin-box .orgin-content .txt-h3{
    font-size: 20px;
    display: block;
    color: #e60012;
    margin-bottom: 20px;
}
.el-main.organ .el-right .orgin-box .orgin-content div{
    text-indent: 2em;
    font-size: 15px;
    line-height: 26px;
    margin-bottom: 10px;
}
.el-main.organ .el-right .orgin-box .l-right{
    float: right;
}
.el-main.organ .el-right .orgin-box .orgin-content{
    width: 480px;
}
.el-main.organ .el-right .orgin-box .box-img{
    display: block;
    width: 334px;
    height: 260px;
}
.el-main.organ .el-right .orgin-list{
    font-size: 15px;
    padding: 20px 10px;
    margin: 30px auto;
    line-height: 28px;
    color: #fff;
    text-indent: 2em;
    background-color: #e60012;
}
.el-main.organ .el-right .orgin-red-color{
    margin-top: 34px;
    font-size: 16px;
    text-indent: 2em;
    color: #e60012;
}

.el-main.organ .el-right .container {
    padding: 40px 20px;
}

.el-main.body .el-left-main {
    float: left;
    width: 785px;
}

.el-main.body .el-left-main h2 {
    font-size: 25px;
    color: #e60012;
    font-weight: bold;
    text-align: center;
}

.el-main.body .el-left-main .source {
    font-size: 13px;
    margin: 25px auto;
    color: #999;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}

.el-main.body .pptj h2 {
    font-size: 25px;
    color: #e60012;
    font-weight: bold;
    text-align: center;
}

.el-main.body .pptj .source {
    line-height: 28px;
    font-size: 13px;
    margin: 25px auto;
    color: #999;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}

.el-main.body .el-left-main .source img {
    width: 14px;
    height: 14px;
    vertical-align: middle;
    margin-right: 3px;
}

.el-main.body .el-left-main .source .count {
    display: inline-block;
    position: relative;
    height: 17px;
    line-height: 17px;
    padding: 0px 3px;
    font-size: 12px;
    color: #e60012;
    padding-left: 28px;
    background-color: #ddd;
}

.el-main.body .el-left-main .source .count::after {
    content: '';
    position: absolute;
    top: 1px;
    left: 0;
    height: 100%;
    width: 28px;
    background-image: url(../images/click.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.el-main.body .el-left-main .source .el-right {
    float: right;
    position: relative;
    top: -3px;
}

.margintop35 {
    margin-top: 35px;
}

.el-main.body .el-right-main {
    float: right;
    width: 355px;
}

.el-main.body .el-right-main .nav-list {
    margin-top: 25px;
}

.el-main.body .el-right-main .nav-list img {
    width: 355px;
    height: 220px;
}

.el-main.body .el-right-main .nav-list a {
    display: block;
    width: 100%;
    font-size: 16px;
    line-height: 45px;
    color: #333;
    border-bottom: 1px dashed #ddd;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.el-main.body .pptj .swiper-box {
    position: relative;
    margin: auto;
    margin-top: 35px;
    width: 1030px;
    min-width: 1030px;
}

.el-main.body .pptj .swiper-container .swiper-slide {
    width: 1030px;
    min-width: 1030px;
}

.el-main.body .pptj .swiper-container .swiper-slide img {
    width: 100%;
}

.el-main.body .pptj .swiper-box .swiper-button-prev {
    background-size: 100%;
    background-image: url(https://jiaotou195.github.io/ppqg.github.io/pptj-arrow-left.png);
    background-repeat: no-repeat;
    outline: none;
    width: 28px;
    height: 54px;
    margin-top: -27px;
    left: -45px;
}

.el-main.body .pptj .swiper-box .swiper-button-next {
    background-size: 100%;
    background-image: url(https://jiaotou195.github.io/ppqg.github.io/pptj-arrow-right.png);
    background-repeat: no-repeat;
    outline: none;
    width: 28px;
    height: 54px;
    margin-top: -27px;
    right: -45px;
}

.el-main.body .bran-photo-list {
    overflow: hidden;
}

.el-main.body .bran-photo-list li {
    float: left;
    margin: auto 17px 17px auto;
}

.el-main.body .bran-photo-list li.no-right {
    margin-right: 0;
}

.el-main.body .bran-photo-list li a {
    display: block;
    position: relative;
}

.el-main.body .bran-photo-list li img {
    display: block;
    width: 250px;
    height: 170px;
}

.el-main.body .bran-photo-list li a:after {
    content: '';
    position: absolute;
    top: 30%;
    left: 40%;
    width: 50px;
    height: 50px;
    background-image: url(https://jiaotou195.github.io/ppqg.github.io/player1.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 100%;
}


.el-main.body .bran-photo-list li .list-box {
    position: relative;
    width: 250px;
    height: 170px;
}

.el-main.body .bran-photo-list li p {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 90%;
    height: 35px;
    line-height: 35px;
    color: #fff;
    font-size: 15px;
    padding: 0 5%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.6)
}

.el-main.body .el-right-main .box2 {
    margin: 30px auto 20px auto;
}

.el-main.body .el-right-main .nav-list.margintop0 {
    margin-top: 0;
}

.title.marginbottom0 {
    margin-bottom: 0;
}

.el-main.body .el-right-main .box2 img {
    width: 355px;
    height: 120px;
}

.el-main.body .nav-list-item li {
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}

.el-main.body .nav-list-item li .img-pre {
    width: 260px;
    height: 150px;
}

.el-main.body .nav-list-item li .width500 {
    width: 500px;
}

.el-main.body .nav-list-item li .kj-title {
    font-size: 18px;
    margin-bottom: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.el-main.body .nav-list-item li .kj-content {
    text-indent: 2em;
    font-size: 15px;
    color: #999;
    line-height: 30px;
    height: 115px;
    overflow: hidden;
}

.el-main.body .qygs {
    overflow: hidden;
}

.el-main.body .qygs li {
    float: left;
    margin-right: 57px;
    text-align: center;
    margin: 20px 57px 20px 0;
}

.el-main.body .qygs li.noright {
    margin-right: 0;
}

.el-main.body .qygs li .box-contanier {
    position: relative;
    width: 255px;
    height: 160px;
    border-radius: 12px;
    border: 1px solid #e60012;
}

.el-main.body .qygs li .box-contanier img {
    width: 170px;
    height: 75px;
    margin: 10px auto;
    display: block;
}

.el-main.body .qygs li .box-contanier .qy-title {
    font-size: 18px;
    color: #e60012;
    font-weight: bold;
}

.el-main.body .qygs li .box-contanier p {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 32px;
    line-height: 32px;
    width: 100%;
    font-size: 12px;
    color: #fff;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    background-color: #e60012;
}

.el-main.body .qygs li a {
    position: relative;
    display: inline-block;
    margin-top: 15px;
    padding: 8px 6px 8px 30px;
    color: #fff;
    font-size: 16px;
    border-radius: 8px;
    background-color: #e60012;
}

.el-main.body .qygs li a:hover {
    color: #fff !important;
}

.el-main.body .qygs li a::after {
    content: '';
    position: absolute;
    top: 8px;
    left: 6px;
    width: 21px;
    height: 21px;
    background-image: url(https://jiaotou195.github.io/ppqg.github.io/qy-phone.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.el-main.body .ttjj ul li {
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}

.el-main.body .ttjj ul li img {
    display: block;
    width: 380px;
    height: 200px;
}

.el-main.body .ttjj ul li .list-box {
    width: 380px;
}

.el-main.body .ttjj ul li .list-box p {
    font-size: 18px;
    width: 100%;
    line-height: 28px;
    margin: 10px auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.el-main.body .ttjj ul li .list-box div {
    width: 100%;
    height: 150px;
    text-indent: 0em;
    font-size: 15px;
    line-height: 28px;
    color: #999;
    overflow: hidden;
}

.el-main.on-apply .sblc ul {
    display: block;
    width: 336px;
    position: relative;
    top: 1px;
    display: box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    border: 1px solid #e60012;
}

.el-main.on-apply .sblc ul li {
    float: left;
    font-size: 22px;
    padding: 10px;
    color: #e60012;
    font-weight: bold;
    cursor: pointer;
}

.el-main.on-apply .sblc ul li.active {
    color: #fff;
    background-color: #e60012;
}

.el-main.on-apply .sblc .p-list-box {
    padding: 30px 12px 0px 35px;
    line-height: 32px;
    font-size: 16px;
    border: 1px solid #ddd;
    overflow: hidden;
}

.el-main.on-apply .sblc .p-list-box h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px
}

.el-main.on-apply .sblc .p-list-box .sqlc {
    text-indent: 2em;
}

.el-main.on-apply .sblc .p-list-box .sqlc a {
    color: #20a0ff;
    text-decoration: underline;
}

.el-main.on-apply .rymp {
    border: 1px solid #ddd;
}

.el-main.on-apply .rymp>div {
    font-size: 16px;
    text-align: center;
    padding-top: 12px;
}

.el-main.on-apply .rymp>div img {
    display: inline-block;
    width: 200px;
    height: 160px;
    margin-bottom: 10px;
}

.el-main.on-apply .rymp>div p {
    width: 96%;
    margin: auto;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.el-main.on-apply .rymp>div:last-child p {
    padding-bottom: 12px;
    border-bottom: none;
}

.margintop45 {
    margin-top: 50px;
}

.page-list {
    width: 600px;
    margin: 60px auto 0px auto;
    text-align: center;
    font-size: 16px;
    color: #e60012;
}

.page-list ul {
    display: inline-block;
    overflow: hidden;
}

.page-list ul li {
    float: left;
    cursor: pointer;
}

.page-list ul li span {
    display: inline-block;
    padding: 6px 12px;
    border: 1px solid #ddd;
    border-right: none;
}

.page-list ul li:last-child span {
    border-right: 1px solid #ddd;
}

.page-list ul li.curr span {
    color: #fff;
    background-color: #e60012;
}

/*清除浮动代码*/
.clearfloat:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0
}

.clearfloat {
    zoom: 1
}

.zs-footer {
    /*border-top: 2px solid #9a9a9a;*/
    border-bottom: 2px solid #9a9a9a;
}

.zs-footer>div {
    width: 1200px;
    min-width: 1200px;
    margin: 45px auto;
    font-size: 16px;
}

.zs-footer .block {
    border-bottom: 1px dashed #efefef;
}

.zs-footer .block:last-child {
    border-bottom: none;
}

.zs-footer .block .red-color {
    font-weight: bold;
}

.zs-footer .block .zs-footer-tips {
    padding: 20px 120px
}

.zs-footer .block .zs-footer-tips>span {
    vertical-align: top;
    display: inline-block;
}

.zs-footer .block .zs-footer-tips>div {
    display: inline-block;
    margin-left: 92px;
}

.zs-footer .block .zs-footer-tips>div a {
    display: inline-block;
    font-size: 20px;
    color: #333;
    padding: 4px 10px;
    margin-left: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 0 #c6c3c2;
    background-color: #dcdcdc;
}

.zs-footer .block .zs-footer-tips img {
    vertical-align: text-bottom;
    margin-right: 5px;
}

.zs-footer .block .zs-footer-tips>div span {
    display: block;
    line-height: 24px;
}

.footer {
    width: 1200px;
    min-width: 1200px;
    margin: auto;
}

.footer .footet-nav1 {
    overflow: hidden;
}

.footer .footet-nav1>div {
    position: relative;
    float: left;
    width: 260px;
    padding: 10px 20px 20px 20px;
    font-size: 14px;
    line-height: 23px;
    color: #999;
    height: 290px;
    background-color: #f8f8f8;
}

.footer .footet-nav1>div h3 {
    padding: 6px 0 15px 0;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.footer .footet-nav1>div .text-left {
    line-height: 22px;
}

.footer .footet-nav1>div h3 img {
    margin-right: 10px;
    vertical-align: middle;
}

.footer .footet-nav1 .text-left .txt1 {
    position: relative;
    left: 61px;
}

.footer .footet-nav1 .text-left .txt2 {
    position: relative;
    left: 30px;
}

.footer .footet-nav1>div::after {
    content: "";
    position: absolute;
    top: 10%;
    right: 0;
    height: 80%;
    width: 1px;
    background-color: #333;
    transform: scaleX(.5);
}

.footer .footet-nav1>div:last-child::after {
    content: "";
    background-color: transparent;
}

.footer .footet-nav1 ul li {
    float: left;
}

.footer .footet-nav1 ul li a {
    color: #999;
    font-size: 14px
}

.footer .footet-nav2 {
    margin: 25px auto;
}

.footer .footet-nav2 ul {
    display: inline-block;
    margin: 12px auto;
    overflow: hidden;
}

.footer .footet-nav2 ul li {
    float: left;
}

.footer .footet-nav2 ul li a {
    color: #333;
    font-size: 13px;
    padding: 0 10px;
    border-right: 1px solid #333;
}

.footer .footet-nav2 ul li:last-child a {
    border: none;
}

.center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.article-list a {
    color:#333;
}
.article-list a:hover {
    color: #000;
}

.article a:hover {
    color: #a61111 !important;
}

.editorCnt {
    max-width: 100% !important;
}
